<div class="container-fluid">
  <h1>Demo#index</h1>
  <p class="text-success"><%= @message %></p>
  <hr/>
  <ul>
    <li><%= "Domain: #{@domain}" if @domain.present? %></li>
    <li><%= "Key: #{@key}" if @key.present? %></li>
    <li><%= "Secret: #{@secret}" if @secret.present? %></li>
  </ul>
  <hr/>
</div>
