<h1>Face Home</h1>
<hr/>
<ul>
  <li>
    <%= "Domain: #{@domain}" if @domain.present? %>
  </li>
  <li>
    <%= "KEY: #{@key}" if @key.present? %>
  </li>
  <li>
    <%= "SECRET: #{@secret}" if @secret.present? %>
  </li>
</ul>
<hr/>