<div id="<%= dom_id coin_nickname %>">
  <p>
    <strong>Coin:</strong>
    <%= coin_nickname.coin_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= coin_nickname.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= coin_nickname.status %>
  </p>

</div>
